
.top {
  display: inline;
 
}
#view-score{
 margin-left: 10%;
}
#timer{
  margin-right: 10%;
  float: right;
}

.qna{
  text-align: center;
  margin-top: 12%;

}
#answer1, #answer2, #answer3{
  display: none;
  align-items: center;
  text-align: center;
  margin-left: 50%;
  font-size: 22px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 10px;
}

#nextButton{
 
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}
#save-score, #nickname, #feedback, #nextButton{
  display: none;
}
li{
  list-style: none;
}

